{% extends 'base.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
    <header class="p-3 text-white" style="background-color: #023047">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="d-flex align-items-center" style="gap:1rem">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{{ asset('logo2.png') }}" width=140 height=30 alt="Product 1">

        </a>

        <div class="vr"></div>

    <h3><strong>{{formation.title}}</strong></h3>

    {% if formation.validated == 0 %}
                    <h4><span class='badge bg-secondary rounded-pill'>En attente</span></h4>
                {% elseif formation.validated == 2 %}
                    <h4><span class='badge bg-danger rounded-pill'>Refusée</span></h4>
                {% endif %}
      </div>

    <div class="d-flex align-items-center" style="gap:1rem">

    {% if is_granted("ROLE_LEARNER") %}
    
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Votre progrès</strong>
      </a>
      <div class="dropdown-menu  text-small shadow p-4" style="background-color: #f5f5f5;" aria-labelledby="dropdownUser1">
      <p>8/20 completés</p>
        <div class="progress" style="height:2px">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    {% endif %}

<div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

      {% if app.user.image is not null %}
        <img  src="{{asset('profile/')}}{{ app.user.image}}" alt="" class="rounded-circle me-2" width="32" height="32">

      {% else %}
                <img  src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg" alt="" class="rounded-circle me-2" width="32" height="32">

        {% endif %}
        <strong>{{ app.user.name  }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" style="background-color: #f5f5f5;" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{{ path('app_profile') }}">Profil</a></li>
                {% if is_granted("ROLE_INSTRUCTOR") %}<li><a class="dropdown-item" href="{{ path('app_formation_new') }}">Créer formation</a></li>{% endif %}

        {% if is_granted("ROLE_ADMIN") %}<li><a class="dropdown-item" href="{{ path('app_admin_users') }}">Dashboard</a></li>{% endif %}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
      </ul>
    </div>
    

    </div>
    </header>

{% endblock %}
